.testimonial h4,
.testimonial p{
    margin: 0;
}
.testimonial h4{
    font-size: 18px;
}
.user-img-wrapper{
    display: flex;
    overflow: hidden;
    border: 1px solid var(--main-color);
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.testimonial{
    margin-top: 50px;
    background-color: #fff;
    color: black;
    padding: 25px 20px 10px;
    position: relative;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
.time{
    font-size: 11px;
    position: absolute;
    right: 20px;
    bottom: 3px;
}
.port-swiper{
    /* height: calc(100vh - (57px + 120px)); */
}
