.navbar{
    background-color: rgba(7,7,7,.35);
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 2;
}
.navbar .container {
    max-width: 1200px;
    margin: 0 auto;
}
.nav-link.active,.nav-link:hover{
    color: var(--main-color) !important;
}
.nav-link{
    color: var(--hover-color) !important;
}