@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*{
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: var(--selection-color);
}
:root{
    --white:#fff;
    --main-color:#05afcf;
    --hover-color: #05adcf9c;
    --selection-color: #17bddf52;
    --semi-grey: #aaaaaa;
}
body{
    background-color: black;
    padding-top: 57px;
    color: #fff;
    /* height: 1000vh; */
}
.accent-clr{
    color: var(--main-color);
}